@charset "UTF-8";
/*CSS docment*/
body{margin:0}
.main{width:100%;height:900px;background:#377db8;margin:auto}
.header{width:100%;height:100px;background:#1e8fd5;display:flex;justify-content:flex-start; align-items:center;}
.logo{width:50%;height:auto;
display:flex;justify-content:flex-start; align-items:flex-start;}
.logo img{width:20%;height:auto;justify-content:flex-start; align-items:flex-start;padding-left: 50px;}

.menu{width:100%;height:50px;background:#2ebdbd;display:flex}
.button{width:25%;height:50px;background:#e8f7ff;
display:flex;justify-content:center;align-items:center;
font-family: 'Open Sans', sans-serif;font-size:16px;font-weight:bold;color:#274467;transition:0.5s;}
.button:hover{background:#d1d2d3}

.predictor-section {width:100%;height:600px;display:flex;justify-content:center;align-items:center;}
.pred {width:100%;height:600px;display:flex;justify-content:center;align-items:center;flex-flow: column;}
.pred h1 {font-family: 'Open Sans', sans-serif;font-size:40px;font-weight:bold;color:#ffffff;border:4px solid #ffffff;padding-block: 15x;padding-left:15px;
padding-right: 15px;line-height: 1.8;}
.pred p {font-family: 'Open Sans', sans-serif;font-size:25px;font-weight:lighter;color:#ffffff;padding-top: 25px; line-height: 1.8;}

.hero2 {width:100%;height:700px;}
.hero2 img {width:100%; height:700px;}
.info {width:80%;height:200px; align-items: center;margin-top: 60px;
  font-family: 'Open Sans', sans-serif;font-size:10px;color:#ffffff;text-align: center;font-weight: lighter;}
.info h1 {width:80%;height:auto;
font-weight:lighter;text-align: center;line-height: 1.4;margin-left: auto;}



.footer{width:auto;height:70px;background:#1e8fd5;}
.footer-col{width:auto;height:70px;
font-family: 'Open Sans', sans-serif;font-size:12px;font-weight:400;color:#ffffff;
display:flex;justify-content: center;align-items: center;}