@charset "UTF-8";
/*CSS docment*/
body{margin:0}
.main{width:1440px;height:1470px;background:#377db8;margin:auto}
.header{width:100%;height:250px;background:#1e8fd5;display:flex;justify-content:center; align-items:center;}
.logo{width:50%;height:auto;
display:flex;justify-content:center; align-items:center;}
.logo img{width:50%;height:auto;}

.menu{width:100%;height:50px;display:flex;justify-content:center;align-items:center;background:#e8f7ff;}
.button{width:33%;height:50px;background:#e8f7ff;
display:flex;justify-content:center;align-items:center;
font-family: 'Open Sans', sans-serif;font-size:16px;font-weight:bold;color:#274467;transition:0.5s;}
.button:hover{background:#d1d2d3}

.hero{width:100%;height:400px;}
.hero img {width:100%; height:400px;}


.column-container{width:100%;height:600px;display:flex;justify-content:center;align-items:center;}
.imagebox1 {width: 25%; height: 400px;;;margin-right:1%;
 position:relative; display:flex; justify-content: center; align-items:center}
.imagebox1 h1{width:90%;height:auto;margin:0;
font-family: 'Open Sans', sans-serif;font-size:15px;font-weight:700;color:#ffffff;
display:flex;justify-content:center;align-items: center;position: absolute;margin-top: 180px}
.imagebox2 {width: 25%; height: 400px;border-width:thick;border-color: #ffffff;;margin-right:1%;
overflow:hidden; position:relative; display:flex; justify-content: center; align-items:center}
.imagebox2 h1{width:90%;height:auto;margin:0;
font-family: 'Open Sans', sans-serif;font-size:15px;font-weight:700;color:#ffffff;
display:flex;justify-content:center;align-items: center;position: absolute;margin-top: 180px;}
.predictorbox {width: 30%; height: 400px;overflow:hidden;}
.column{width:25%;height:500px;}

.more{width:100%;height:100px;
display:flex;justify-content:center;align-items:center;
font-family: 'Open Sans', sans-serif;font-size:10px;color:#ffffff;padding-top: -30px;text-decoration:none;}
.more h1 {width:10%;height:auto;
display:flex; justify-content:center;align-items:center;;
border:2px solid #ffffff;margin-top:-100px;font-weight: normal;}
.more h1:hover{transition:0.5s;transform: scale(1.1)}


.footer{width:100%;height:70px;background:#1e8fd5;}
.footer-col{width:auto;height:70px;
font-family: 'Open Sans', sans-serif;font-size:12px;font-weight:400;color:#ffffff;
display:flex;justify-content: center;align-items: center;}
